schema/ride.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.w3.org/XML/1998/namespace" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:eg="http://www.tei-c.org/ns/Examples" xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:sqf="http://www.schematron-quickfix.com/validator/process" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="tei:TEI">
      <attribute>
        <name>lang</name>
        <data type="NCName"/>
      </attribute>
      <element name="tei:teiHeader">
        <element name="tei:fileDesc">
          <element name="tei:titleStmt">
            <ref name="tei.title"/>
            <oneOrMore>
              <element name="tei:author">
                <attribute>
                  <name>id</name>
                  <data type="NCName"/>
                </attribute>
                <ref name="tei.name"/>
                <optional>
                  <element name="tei:email">
                    <text/>
                  </element>
                </optional>
              </element>
            </oneOrMore>
          </element>
          <element name="tei:editionStmt">
            <element name="tei:edition">
              <oneOrMore>
                <choice>
                  <text/>
                  <ref name="tei.date"/>
                </choice>
              </oneOrMore>
            </element>
          </element>
          <element name="tei:publicationStmt">
            <element name="tei:publisher">
              <text/>
            </element>
            <ref name="tei.date"/>
            <element name="tei:availability">
              <element name="tei:licence">
                <attribute name="target">
                  <data type="anyURI"/>
                </attribute>
              </element>
            </element>
          </element>
          <element name="tei:sourceDesc">
            <ref name="tei.p"/>
          </element>
        </element>
        <element name="tei:encodingDesc">
          <element name="tei:tagsDecl">
            <oneOrMore>
              <element name="tei:rendition">
                <attribute>
                  <name>id</name>
                  <data type="NCName"/>
                </attribute>
                <text/>
              </element>
            </oneOrMore>
          </element>
        </element>
        <element name="tei:revisionDesc">
          <element name="tei:change">
            <attribute name="from">
              <data type="NMTOKEN"/>
            </attribute>
            <attribute name="to">
              <data type="NMTOKEN"/>
            </attribute>
            <attribute name="who">
              <data type="NCName"/>
            </attribute>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="tei.ref"/>
              </choice>
            </oneOrMore>
          </element>
        </element>
      </element>
      <element name="tei:text">
        <element name="tei:front">
          <element name="tei:titlePage">
            <element name="tei:docTitle">
              <oneOrMore>
                <element name="tei:titlePart">
                  <attribute name="type">
                    <data type="NCName"/>
                  </attribute>
                  <text/>
                </element>
              </oneOrMore>
            </element>
            <element name="tei:docAuthor">
              <text/>
            </element>
            <element name="tei:docDate">
              <data type="integer"/>
            </element>
          </element>
        </element>
        <element name="tei:body">
          <oneOrMore>
            <ref name="tei.div"/>
          </oneOrMore>
        </element>
      </element>
    </element>
  </start>
  <define name="tei.title">
    <element name="tei:title">
      <optional>
        <attribute name="level">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="tei.name">
    <element name="tei:name">
      <optional>
        <attribute name="ref"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="tei.date">
    <element name="tei:date">
      <optional>
        <attribute name="when">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="tei.p">
    <element name="tei:p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="tei.date"/>
          <ref name="tei.gi"/>
          <ref name="tei.name"/>
          <ref name="tei.ref"/>
          <ref name="tei.title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="tei.ref">
    <element name="tei:ref">
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="tei.div">
    <element name="tei:div">
      <optional>
        <attribute>
          <name>id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <oneOrMore>
          <choice>
            <ref name="tei.div"/>
            <element name="tei:head">
              <text/>
            </element>
          </choice>
        </oneOrMore>
        <ref name="tei.p"/>
      </optional>
      <optional>
        <choice>
          <ref name="eg.egXML"/>
          <element name="tei:schemaSpec">
            <attribute name="defaultExceptions"/>
            <attribute name="ident">
              <data type="NCName"/>
            </attribute>
            <attribute name="start">
              <data type="NCName"/>
            </attribute>
            <oneOrMore>
              <element name="tei:moduleRef">
                <optional>
                  <attribute name="include"/>
                </optional>
                <attribute name="key">
                  <data type="NCName"/>
                </attribute>
              </element>
            </oneOrMore>
            <oneOrMore>
              <choice>
                <ref name="tei.constraintSpec"/>
                <element name="tei:classSpec">
                  <attribute name="ident">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="mode">
                    <data type="NCName"/>
                  </attribute>
                  <optional>
                    <attribute name="module">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <attribute name="type">
                    <data type="NCName"/>
                  </attribute>
                  <optional>
                    <ref name="tei.attList"/>
                  </optional>
                </element>
                <element name="tei:dataSpec">
                  <attribute name="ident">
                    <data type="NCName"/>
                  </attribute>
                  <ref name="tei.content"/>
                </element>
                <element name="tei:elementSpec">
                  <attribute name="ident">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="mode">
                    <data type="NCName"/>
                  </attribute>
                  <optional>
                    <attribute name="module">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <optional>
                    <ref name="tei.gloss"/>
                    <ref name="tei.desc"/>
                  </optional>
                  <optional>
                    <ref name="tei.content"/>
                  </optional>
                  <zeroOrMore>
                    <ref name="tei.constraintSpec"/>
                  </zeroOrMore>
                  <optional>
                    <ref name="tei.attList"/>
                  </optional>
                  <zeroOrMore>
                    <element name="tei:exemplum">
                      <optional>
                        <attribute name="versionDate">
                          <data type="date"/>
                        </attribute>
                      </optional>
                      <attribute>
                        <name>lang</name>
                        <data type="NCName"/>
                      </attribute>
                      <ref name="eg.egXML"/>
                    </element>
                  </zeroOrMore>
                </element>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </optional>
    </element>
  </define>
  <define name="tei.gi">
    <element name="tei:gi">
      <data type="NCName"/>
    </element>
  </define>
  <define name="tei.gloss">
    <element name="tei:gloss">
      <attribute name="versionDate">
        <data type="date"/>
      </attribute>
      <optional>
        <attribute>
          <name>lang</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="tei.desc">
    <element name="tei:desc">
      <optional>
        <attribute name="versionDate">
          <data type="date"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name>lang</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="tei.gi"/>
          <element name="tei:att">
            <data type="NMTOKEN"/>
          </element>
          <element name="tei:emph">
            <text/>
          </element>
          <element name="tei:q">
            <text/>
          </element>
          <element name="tei:tag">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="tei.content">
    <element name="tei:content">
      <optional>
        <attribute name="resp"/>
      </optional>
      <choice>
        <ref name="tei.alternate"/>
        <ref name="tei.dataRef"/>
        <ref name="tei.elementRef"/>
        <ref name="tei.sequence"/>
      </choice>
    </element>
  </define>
  <define name="tei.constraintSpec">
    <element name="tei:constraintSpec">
      <attribute name="ident">
        <data type="NCName"/>
      </attribute>
      <optional>
        <attribute name="resp"/>
      </optional>
      <attribute name="scheme">
        <data type="NCName"/>
      </attribute>
      <element name="tei:constraint">
        <choice>
          <element name="sch:pattern">
            <element name="xsl:key">
              <attribute name="match"/>
              <attribute name="name">
                <data type="NCName"/>
              </attribute>
              <attribute name="use"/>
            </element>
            <oneOrMore>
              <ref name="sch.let"/>
            </oneOrMore>
          </element>
          <element name="sch:rule">
            <attribute name="context"/>
            <optional>
              <attribute name="role">
                <data type="NCName"/>
              </attribute>
            </optional>
            <optional>
              <ref name="sch.let"/>
            </optional>
            <choice>
              <element name="sch:assert">
                <optional>
                  <attribute name="role">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <attribute name="test"/>
                <optional>
                  <attribute name="sqf:fix">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <oneOrMore>
                  <choice>
                    <text/>
                    <ref name="sch.name"/>
                    <ref name="sch.value-of"/>
                  </choice>
                </oneOrMore>
              </element>
              <element name="sch:report">
                <attribute name="test"/>
                <optional>
                  <attribute name="sqf:fix">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <oneOrMore>
                  <choice>
                    <text/>
                    <ref name="sch.name"/>
                    <ref name="sch.value-of"/>
                  </choice>
                </oneOrMore>
              </element>
            </choice>
            <optional>
              <element name="sqf:fix">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <element name="sqf:description">
                  <element name="sqf:title">
                    <text/>
                  </element>
                </element>
                <choice>
                  <element name="sqf:add">
                    <attribute name="match">
                      <data type="NMTOKEN"/>
                    </attribute>
                    <attribute name="node-type">
                      <data type="NCName"/>
                    </attribute>
                    <attribute name="select"/>
                    <attribute name="target">
                      <data type="NCName"/>
                    </attribute>
                  </element>
                  <element name="sqf:stringReplace">
                    <attribute name="regex"/>
                  </element>
                </choice>
              </element>
            </optional>
          </element>
          <oneOrMore>
            <element name="sch:ns">
              <attribute name="prefix">
                <data type="NCName"/>
              </attribute>
              <attribute name="uri">
                <data type="anyURI"/>
              </attribute>
            </element>
          </oneOrMore>
        </choice>
      </element>
    </element>
  </define>
  <define name="tei.attList">
    <element name="tei:attList">
      <oneOrMore>
        <element name="tei:attDef">
          <attribute name="ident">
            <data type="NMTOKEN"/>
          </attribute>
          <optional>
            <attribute name="mode">
              <data type="NCName"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="usage">
              <data type="NCName"/>
            </attribute>
          </optional>
          <optional>
            <ref name="tei.desc"/>
          </optional>
          <optional>
            <element name="tei:datatype">
              <optional>
                <attribute name="maxOccurs">
                  <data type="NCName"/>
                </attribute>
              </optional>
              <choice>
                <ref name="tei.dataRef"/>
                <element name="rng:ref">
                  <attribute name="name">
                    <data type="NCName"/>
                  </attribute>
                </element>
              </choice>
            </element>
          </optional>
          <optional>
            <choice>
              <ref name="tei.constraintSpec"/>
              <element name="tei:valList">
                <optional>
                  <attribute name="mode">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <attribute name="type">
                  <data type="NCName"/>
                </attribute>
                <oneOrMore>
                  <element name="tei:valItem">
                    <attribute name="ident">
                      <data type="NCName"/>
                    </attribute>
                    <optional>
                      <attribute name="resp"/>
                    </optional>
                    <optional>
                      <ref name="tei.gloss"/>
                    </optional>
                    <optional>
                      <ref name="tei.desc"/>
                    </optional>
                  </element>
                </oneOrMore>
              </element>
            </choice>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="eg.egXML">
    <element name="eg:egXML">
      <choice>
        <ref name="eg.list"/>
        <ref name="eg.p"/>
        <ref name="eg.text"/>
        <ref name="eg.titleStmt"/>
        <element name="eg:TEI">
          <element name="eg:teiHeader">
            <element name="eg:fileDesc">
              <ref name="eg.titleStmt"/>
              <element name="eg:publicationStmt">
                <empty/>
              </element>
              <element name="eg:seriesStmt">
                <empty/>
              </element>
              <element name="eg:notesStmt">
                <empty/>
              </element>
              <element name="eg:sourceDesc">
                <empty/>
              </element>
            </element>
            <element name="eg:encodingDesc">
              <empty/>
            </element>
            <element name="eg:profileDesc">
              <empty/>
            </element>
          </element>
          <ref name="eg.text"/>
        </element>
        <element name="eg:figure">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="eg.head"/>
              <element name="eg:eg">
                <text/>
              </element>
              <element name="eg:graphic">
                <attribute name="height">
                  <data type="NMTOKEN"/>
                </attribute>
                <attribute name="url">
                  <data type="anyURI"/>
                </attribute>
                <attribute name="width">
                  <data type="NMTOKEN"/>
                </attribute>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </choice>
    </element>
  </define>
  <define name="tei.dataRef">
    <element name="tei:dataRef">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="name">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="restriction"/>
      </optional>
    </element>
  </define>
  <define name="tei.elementRef">
    <element name="tei:elementRef">
      <attribute name="key">
        <data type="NCName"/>
      </attribute>
      <optional>
        <attribute name="maxOccurs">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="minOccurs">
          <data type="integer"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="tei.alternate">
    <element name="tei:alternate">
      <optional>
        <attribute name="maxOccurs">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="minOccurs">
          <data type="integer"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="tei.sequence"/>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <ref name="tei.elementRef"/>
          <element name="tei:textNode">
            <empty/>
          </element>
        </choice>
      </zeroOrMore>
      <optional>
        <ref name="tei.alternate"/>
      </optional>
      <zeroOrMore>
        <ref name="tei.classRef"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="tei.sequence">
    <element name="tei:sequence">
      <optional>
        <attribute name="maxOccurs">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="minOccurs">
          <data type="integer"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="tei.alternate"/>
          <ref name="tei.sequence"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <ref name="tei.classRef"/>
          <ref name="tei.elementRef"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="sch.let">
    <element name="sch:let">
      <attribute name="name">
        <data type="NCName"/>
      </attribute>
      <attribute name="value"/>
    </element>
  </define>
  <define name="sch.name">
    <element name="sch:name">
      <empty/>
    </element>
  </define>
  <define name="sch.value-of">
    <element name="sch:value-of">
      <attribute name="select"/>
    </element>
  </define>
  <define name="eg.text">
    <element name="eg:text">
      <optional>
        <element name="eg:front">
          <ref name="eg.div"/>
        </element>
      </optional>
      <element name="eg:body">
        <oneOrMore>
          <ref name="eg.div"/>
        </oneOrMore>
      </element>
      <optional>
        <element name="eg:back">
          <ref name="eg.div"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="eg.titleStmt">
    <element name="eg:titleStmt">
      <optional>
        <element name="eg:title">
          <text/>
        </element>
        <element name="eg:author">
          <attribute name="ref">
            <data type="anyURI"/>
          </attribute>
          <element name="eg:name">
            <element name="eg:forename">
              <data type="NCName"/>
            </element>
            <element name="eg:surname">
              <data type="NCName"/>
            </element>
          </element>
          <element name="eg:affiliation">
            <element name="eg:orgName">
              <text/>
            </element>
            <element name="eg:placeName">
              <text/>
            </element>
          </element>
          <element name="eg:email">
            <text/>
          </element>
        </element>
      </optional>
    </element>
  </define>
  <define name="eg.p">
    <element name="eg:p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="eg.list"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="eg.list">
    <element name="eg:list">
      <attribute name="rend"/>
      <oneOrMore>
        <choice>
          <text/>
          <element name="eg:item">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="eg.head">
    <element name="eg:head">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="tei.classRef">
    <element name="tei:classRef">
      <attribute name="key">
        <data type="NCName"/>
      </attribute>
      <optional>
        <attribute name="maxOccurs">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="minOccurs">
          <data type="integer"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="eg.div">
    <element name="eg:div">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name>id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <choice>
          <ref name="eg.div"/>
          <element name="eg:listBibl">
            <element name="eg:bibl">
              <text/>
            </element>
          </element>
        </choice>
      </optional>
      <optional>
        <ref name="eg.head"/>
      </optional>
      <optional>
        <ref name="eg.p"/>
      </optional>
    </element>
  </define>
</grammar>
